.profile-pic img {
  width: 200px !important;
  height: 200 !important ;
  border-radius: 50%;
  border: 2px dotted black;
}

.skills {
  margin-top: 20px;
}
.education {
  border-radius: 8px;
  background-color: aliceblue;
}
.contact {
  width: 100vw;
  height: calc(100vh - 88px);
  color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-card {
  border-radius: 5px;
  margin: 15px;
  padding: 5px;
  background: rgb(58, 56, 56);
  width: 100vw;
}
@media (max-width: 768px) {
  .contact {
    height: 100vh;
    overflow: hidden;
  }
}
