body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 2px black solid;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}
