body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
nav {
  display: flex;

  justify-content: space-between;
  font-weight: 500;
  border-bottom: 2px black solid;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.dark-mode,
.dark-mode a,
.dark-mode div {
  background-color: black;
  color: #ffffff !important;
}
